<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <link rel="stylesheet" href="css/main.css" />
        <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
        <title>JSON Parser</title>
    </head>
    <body>

        <div class="container">
            <div id="viewer" class="viewer">
                
            </div>
            <div class="text-enter">
                <h2>Enter raw JSON below:</h2>
                <textarea id="json-text-area"></textarea><br/>
                <button id="json-render-button" class="button-block">Render</button>
                <p class="warning" style="display: none;" id="invalid-format-msg">The text entered is not in a valid JSON format!</p>
            </div>
        </div>

        <%- include("footer.ejs") %>

        <script src="js/app.js"></script>
    </body>
</html>