*{
    margin: 0;
    padding: 0;
}

html,body{
    height: 100%;
    display: flex;
    flex-direction: column;
}

footer{
    flex-shrink: 0;

    display: flex;
    justify-content: space-evenly;
    font-family: sans-serif;
    padding: 1em;

    background-color: coral;
}

h2{
    font-size: 1.6em;
    margin-bottom: 1em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

button{
    padding: 0.75em;
    background-color:coral;
    font-size: 1.1em;
    border-radius: 10px;
    border: 0px;
    margin-right: 1em;
}

button:hover{
    cursor: pointer;
}

.container{
    flex: 1 0 auto;

    display: flex;
    width: 100%;
}

.container > *{
    padding: 1rem;
}

.viewer{
    flex: 1;
}

.text-enter{ 
    flex: 1;
}

.warning{
    color: red;
}

.json-grid-item{
    display: inline-block;
    width: 30px;
    height: 30px;
}

.button-block:hover{
    cursor: pointer;
}

.tree-span{
    display: flex;
    align-items: center;
}

#json-text-area{
    width: 80%;
    height: 500px;
    margin-bottom: 1em;
}

#viewer{
    border-right: 1px solid gray;
}